/*#region paleta de colores*/
:root{
  --rosa: #fa448c;
  --amarillo: #fec859;
  --aqua: #43b5a0;
  --morado: #491d88;
  --purpura: #331a38;
  --griss1: #3E4451;
  --griss2: #282c34;
}
/*#endregion */

.nav-li{
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  text-decoration-color: var(--aqua);
  color: var(--aqua);
}

.tittle-section{
  font-size: 5rem;
  color: var(--rosa);
}

.div-flex{
  display: flex;
}

.div-img{
  width: 12rem;
  height: 12rem;
  margin: auto;
  margin-top: 3rem;
}

.div-nav{
  width: 20%;
  background-color: var(--griss1);
}

.div-list{
  width: 80%;
  margin: auto;
  margin-top: 3rem;
}

.div-page{
  width: 90%;
  height: 100%;
}

.div-tittle{
  width: fit-content;
  text-align: left;
  margin-left: 3rem;
}

.div-content{
  width: fit-content;
  text-align: left;
  margin-left: 3rem;
}

.img-profile{
  width: 12rem;
  height: 12rem;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
